# Ignore environment files
.env
config.env

# Ignore the Flask application folder
4_FlaskApp/

# Ignore the virtual environment folder
env/
venv/
.DS_Store

2_lobby_register_scraper/utils/
2_lobby_register_scraper/datasets/inputs/~$organisations_in_transparency_register_jan_23.xlsx
2_lobby_register_scraper/datasets/inputs/~$cleaned_network_data.xlsx

3_multimodal_rag_and_agents/utils/